.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.formTitle {
  font-size: 1.35rem;
  text-align: center;
}

.input {
  border-radius: 3px;
  border: 1.5px solid #888;
  padding: 10px 5px;
}

.button {
  margin-top: 25px;
  width: 50%;
  border-radius: 5px;
  border-color: #ddd;
  padding: 12px 18px;
  background-color: var(--main-color);
  cursor: pointer;
}

.button:hover {
  background-color: #F58B55;
}