.list {
  margin: 30px auto;
  list-style: none;
  cursor: pointer;
}

.listItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  margin: 30px auto ;
  font-size: 1.25rem;
  border-bottom: 1px solid #ddd;
}

.listItem a {
  color: #444;
  transition-duration: 0.15s;
}

.listItem a:hover {
  color: var(--main-color);
}

.itemLeft {
  display: flex;
  justify-content: space-between;
  flex-grow: 3;
}

.stockNone,
.stockOk {
  font-size: 1rem;
  display: flex;
  align-items: center;
}

:is(.stockOk, .stockNone) .icon {
  margin-left: 10px;
  color: var(--main-color);
  font-size: 1.5rem;
}

.itemRight {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
}
