.button {
  background-color: transparent;
  margin-top: 15px;
  padding: 7px 10px;
  border: 2px solid skyblue;
  border-radius: 3px;
  appearance: none;
  cursor: pointer;
  color: #666;
}

.button svg {
  margin-right: 10px;
  font-size: 1.15rem;
  color: skyblue;
}

.button:hover {
  background-color: rgba(240, 240, 240, 0.9);
}