.pageTitle {
  font-size: clamp(1.2rem, 2.5vw, 1.55rem);
  text-align: center;
}

.link {
  display: block;
  margin: 30px 0;
}

.wrapper {
  display: block;
  border: 1px solid #fff;
  margin-bottom: 50px;
}
